body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg {
  fill: white;
  stroke: white;
  stroke-width: 1;
}

input {
  padding-left: 1em;
}

button {
  height: fit-content;
}

.rounded {
  border-radius: 25px !important;
}

.completed {
  text-decoration: line-through;
}
